Torus Language Propagation/x64
Torus Language Propagation/Torus Language Propagation.sln
Torus Language Propagation/Torus Language Propagation.vcxproj
Torus Language Propagation/Torus Language Propagation.vcxproj.filters
Torus Language Propagation/Torus Language Propagation.vcxproj.user
